---
import Layout from "../../layouts/Layout.astro";
import PokemonCard from "../../components/PokemonCard.astro";

export function getStaticPaths(){
    return [
        {params: {gen: 'first-generations'}, props: {url: "https://pokeapi.co/api/v2/pokemon?limit=151", title: "First generations"}},
        {params: {gen: 'second-generations'}, props: {url: "https://pokeapi.co/api/v2/pokemon?offset=151&limit=100", title: "Second generations"}},
        {params: {gen: 'third-generations'}, props: {url: "https://pokeapi.co/api/v2/pokemon?offset=251&limit=135", title: "Third generations"}},
        {params: {gen: 'fourth-generations'}, props: {url: "https://pokeapi.co/api/v2/pokemon?offset=386&limit=107", title: "Fourth generations"}}
    ]
}
/* const { gen } = Astro.params; */
const { url, title } = Astro.props;


const response = await fetch(url);
const first_generation = await response.json();
const { results } = first_generation;

---
<Layout title={title}>
    <div class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-6 gap-1">
        {results.map((x: any) => 
            <div class="max-w-xs">
                <PokemonCard pokemon={x.name}/>
            </div>
        )}
    </div>
</Layout>
<script>
    document.addEventListener('scroll', (event: any) => {
        let scroll_event = window.scrollY;
        console.log(scroll_event);
    })
</script>