---
import NavbarButton from "./NavbarButton.astro";
---
<nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
    <NavbarButton class="text-white" idgen="first-generations">
        First Gen
    </NavbarButton>
    <NavbarButton class="text-white" idgen="second-generations">
        Second Gen
    </NavbarButton>
    <NavbarButton class="text-white" idgen="third-generations">
        Third Gen
    </NavbarButton>
    <!-- <NavbarButton class="text-white" idgen="fourth-generations">
        Fourth Gen
    </NavbarButton> -->
</nav>