---
import NavbarButton from "./NavbarButton.astro";
---
<nav class="flex flex-col items-center justify-between w-full text-center md:flex-row">
    <NavbarButton class="text-white" href="/">
        First Gen
    </NavbarButton>
    <NavbarButton class="text-white" href="/">
        Second Gen
    </NavbarButton>
    <NavbarButton class="text-white" href="/">
        Third Gen
    </NavbarButton>
    <NavbarButton class="text-white" href="/">
        Fourth Gen
    </NavbarButton>
</nav>